* {
    background-color: #19131c;
    color: #f9f0f0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Verdana", sans-serif;
    text-align:center;
    font-size:45px;
    margin:45px;
}

h2 {
    font-size:25px;
}

ul {
    font-size:23px;
    list-style-type: none;
    margin:0;
    padding:0;
}

p {
    font-size:20px;
}


img {
    height:300px;
    border-radius:6px;
    border-width:2px;
    transition: height 0.5s ease-in-out;
}

img:hover {
    height:320px;
}

section {
    text-align:center;
    margin:20px;

    flex-wrap:wrap;
}

@media (max-width:800px){
    .img {
        display:flex;
        flex-flow:column nowrap;
    }
}